<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stack Overflow Search</title>
    <script src="libraries/js/jquery3.5.js"></script>
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap-pagination.css">
    <script src="libraries/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="source/css/main.css">
    <link rel="stylesheet" type="text/css" href="source/css/listing.css">
    <script src="libraries/js/bootstrap.bundle.min.js"></script>
    <script src="libraries/js/angular.min.js"></script>
    <script src="libraries/js/angular-animate.min.js"></script>
    <script src="libraries/js/angular-sanitize.min.js"></script>
    <script src="libraries/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="source/js/angularCtrl.js"></script>
    <script src="source/js/angularService.js"></script>
</head>

<body ng-app='stackModule'>
    <div ng-controller="apiCtrl">
        <div class="box" id="search-box" ng-class="{'height-reduce': questionsListing.length}">
            <div class="box-item" id="search-div">
                <input class="input-css form-box box-item-wide" type="text" ng-model="filters.q" placeholder="Enter a keyword"> &nbsp; &nbsp;
                <button class="form-box button button-primary box-item" ng-click="callApi()">Search</button>
            </div>
            <div class="break"></div>
            <div class="box-item" style="cursor: pointer;">
                <span ng-click="toggleFiltersDisplay($event)">Advanced Filters >></span>
            </div>
            <div class="break"></div>
            <div class="box-item" id="filters-box">
                <label for="fromdate">From Date</label><input type="date" id="fromdate" ng-model="filters.fromdate">
                <label for="todate">To Date</label><input type="date" id="todate" ng-model="filters.todate">
                <label for="order">Order</label>
                <select id="order" ng-init="filters.order='desc'" ng-model="filters.order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
                <label for="sort">Sort</label>
                <select id="sort" ng-init="filters.sort='activity'" ng-model="filters.sort">
                <option value="activity">Activity</option>
                <option value="votes">Votes</option>
                <option value="creation">Creation</option>
                <option value="relevance">Relevance</option>
            </select>
                <label for="accepted">Accepted</label>
                <select id="accepted" ng-model="filters.accepted">
                <option value=""></option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
                <label for="answers">Answers</label>
                <input type="text" id="answers" ng-model="filters.answers">
                <label for="body">Body</label>
                <input type="text" id="body" ng-model="filters.body">
                <label for="title">Title</label>
                <input type="text" id="title" ng-model="filters.title">
                <label for="tagged">Tagged</label>
                <input type="text" id="tagged" ng-model="filters.tagged">
                <label for="nottagged">Not Tagged</label>
                <input type="text" id="nottagged" ng-model="filters.nottagged">
                <label for="user">User</label>
                <input type="text" id="user" ng-model="filters.user">
                <label for="url">Url</label>
                <input type="text" id="url" ng-model="filters.url">
                <label for="views">Views</label>
                <input type="text" id="views" ng-model="filters.views">

                <label for="wiki">Wiki</label>
                <select id="wiki" ng-model="filters.wiki">
                <option value="" ></option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
                <label for="closed">Closed</label>
                <select id="closed" ng-model="filters.closed">
                <option value=""></option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
                <label for="migrated">Migrated</label>
                <select id="migrated" ng-model="filters.migrated">
                <option value=""></option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
                <label for="notice">Notice</label>
                <select id="notice" ng-model="filters.notice">
                <option value=""></option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            </div>

        </div>

        <!-- Results view -->
        <div class="row" ng-if="questions.length">
            <div class="offset-md-3 col-md-6">
                <question item="item" ng-repeat="item in questions"></question>
            </div>
            <br>
        </div>
        <div class="t_a_c" ng-if="questions.length">
            <!-- <div class="offset-md-3"> -->
            <ul uib-pagination direction-links="false" boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="getPageListing(currentPage)"></ul>
            <!-- </div> -->
        </div>

        <p class="t_a_c pad_t" ng-if="questionsListing.length === 0">
            No results found!
        </p>
    </div>
</body>

</html>