<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stack Overflow Search</title>
    <script src="libraries/js/jquery3.5.js"></script>
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap-pagination.css">
    <script src="libraries/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="libraries/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="source/css/main.css">
    <link rel="stylesheet" type="text/css" href="source/css/listing.css">
    <script src="libraries/js/bootstrap.bundle.min.js"></script>
    <script src="libraries/js/angular.min.js"></script>
    <script src="libraries/js/angular-animate.min.js"></script>
    <script src="libraries/js/angular-sanitize.min.js"></script>
    <script src="libraries/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="source/js/angularCtrl.js"></script>
    <script src="source/js/angularService.js"></script>
</head>

<body ng-app='stackModule'>
    <div ng-controller="apiCtrl">
        <div class="box" id="search-box" ng-class="{'height-reduce': questionsListing.length}">
            <div class="box-item" id="search-div">
                <input class="input-css form-box box-item-wide" type="text" ng-model="filters.q" placeholder="Enter a keyword"> &nbsp; &nbsp;
                <!-- <button class="form-box button button-primary box-item" ng-click="callApi()">Search</button> -->
                <button class="btn btn-primary" type="button" ng-click="callApi()">
                    <span ng-if="button.loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span ng-bind="button.text"></span>
                  </button>
            </div>
            <div class="break"></div>
            <div class="box-item" style="cursor: pointer;">
                <span ng-click="toggleFiltersDisplay($event)">Advanced Filters >></span>
                <button class="button button-secondary f_r v_h" id="clear-filters" ng-click="clearFilters()">Clear Filters</button>
            </div>
            <div class="break"></div>

            <!-- Filters -->
            <div class="box-item" id="filters-box">
                <ng-include src="'templates/advanced-filters.html'"></ng-include>
            </div>

        </div>

        <!-- Results view -->
        <div class="row" ng-if="questions.length">
            <div class="offset-md-3 col-md-6">
                <question item="item" ng-repeat="item in questions"></question>
            </div>
            <br>
        </div>
        <div class="t_a_c" ng-if="questions.length">
            <!-- <div class="offset-md-3"> -->
            <ul uib-pagination direction-links="false" boundary-links="true" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" ng-model="pagination.currentPage" ng-change="getPageListing()"></ul>
            <!-- </div> -->
        </div>

        <p class="t_a_c pad_t" ng-if="questionsListing.length === 0" ng-bind="error_msg"></p>
    </div>
</body>

</html>