div.result-card {
    margin: 0px 20px;
    border-bottom: 1px solid #ced9ee;
    padding: 20px 10px;
    color: rgb(0 0 0 / 65%);
    font-size: 0.9em;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
}

div.result-card:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

div.result-card .result-title {
    color: rgb(0 0 0 / 80%);
    font-size: 1.1em;
}

div.result-card .col-large {
    width: 80%;
    display: inline-block;
}

div.result-card .col-small {
    width: 19%;
    display: inline-block;
}

div.result-card .t_a_r {
    text-align: right;
}

div.result-card .v_a_t {
    vertical-align: top;
}

div.result-card .one-row {
    margin-bottom: 1rem;
}

div.result-card .tags {
    border: 1px solid rgb(0 0 0 / 28%);
    border-radius: 25px;
    padding: 5px 10px;
    white-space: nowrap;
    display: inline-block;
    margin: 0 1em 1em 0;
}

div.result-card .success-tag {
    padding: 0.5em 1em;
    border-radius: 20px;
    color: white;
    background: #6ad58f;
    white-space: nowrap;
}

div.result-card .warning-tag {
    padding: 0.5em 1em;
    border-radius: 20px;
    color: white;
    background: #f7c048;
    white-space: nowrap;
}