html,
body,
div[ng-controller],
.box {
    height: 100%;
}

#search-box {
    transition: height 1s;
    padding: 20px 20%;
}

.height-reduce {
    height: 134px;
}

.height-auto {
    height: auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.box-item {
    flex-grow: 1;
}

.box-item-wide {
    flex-grow: 3;
}

#search-div {
    display: flex;
    flex-grow: 1;
    /* justify-content: inherit; */
}

#search-div>input {
    flex-grow: 3;
}

#search-div>button {
    flex-grow: 1;
}

#filters-box {
    display: none;
}

.form-box {
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1.5rem;
}

.input-css {
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
}

.input-css:focus {
    border-color: grey;
}

.button {
    transition: backgroud-color 0.25s;
    border: 1px solid transparent;
}

.button-primary {
    background-color: #007bff;
    color: #fff
}

.button.button-primary:hover {
    opacity: 0.5;
}

.break {
    flex-basis: 100%;
    height: 10px;
}

.t_a_c {
    text-align: center;
}

.pad_t {
    padding-top: 20%
}

.m_h {
    margin: 0 3px;
    white-space: nowrap;
}